@import "tailwindcss";

.animate-slide-left{
    animation: slide-left 2s forwards;
    animation-delay: 1s;
}

.animate-slide-right{
    animation: slide-in 2s forwards;
    animation-delay: 1s;
}

.animate-fade-in{
    animation: fade-in-image 2s forwards;
    animation-delay: 1s;
}


@keyframes slide-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
    transition: ease-out;
  }
}

@keyframes fade-in-image {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}